html
    head
        title Welcome, #{name}
    body
        header
            p My soon to be menu #{name}
        section
            p This is a post about Pug template engine, enjoy it!
        footer
            cool footer with lots of copyrights